@media only screen and (max-width: $mobile) {
  .contBody {
    min-width: 320px;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    
    //------------------------ Header Styles ------------------------//
    header {
      width: 100%;
      height: 2.75rem;
      //background: white;
      padding: 0;

      .logo {
        position: absolute;
        left: 1rem;
        top: 0.63rem;
        width: 1.5rem;
        height: 1.5rem;
      }

      .contMenuHam_H01 {
        position: absolute;
        right: 1.75rem;
        top: 50%;
      }

      label,
      label:before,
      label:after {
        position: absolute;
        width: 1.13rem;
        height: 0.13rem;
        background-color: black;
        transition: 0.6s;
      }

      label {
        cursor: pointer;
        top: 50%;
        left: 50%;
        margin-left: -0.565rem;
        margin-top: -0.065rem;
      }

      label::before {
        content: "";
        transform: translateY(0.3rem);
      }
      label::after {
        content: "";
        transform: translateY(-0.3rem);
      }

      #menuHam_H01:checked ~ .contMenuHam_H01 label {
        width: 0;
      }

      #menuHam_H01:checked ~ .contMenuHam_H01 label::before {
        transform: rotate(45deg) translate(0);
      }

      #menuHam_H01:checked ~ .contMenuHam_H01 label::after {
        transform: rotate(-45deg) translate(0);
      }

      .nav_H01 {
        position: absolute;
        top: 2.75rem;
        right: -$mobile;
        padding-left: 0;
        width: 100%;
        min-width: 0;

        width: 100%;
        height: 14rem;
        transition: 0.6s;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #0000ecc7;

        a {
          font-family: $font_IBM_Plex_Mono;
          padding: 0.75rem 1rem;
          color: white;
          font-size: 1rem;
          line-height: 1.75rem;
          cursor: pointer;
        }

        a:active {
          color: rgba(200, 204, 233, 0.781);
        }
      }

      #menuHam_H01:checked ~ .nav_H01 {
        transform: translateX(-$mobile);
      }
    }

    //---------------------- Section 01 Styles ----------------------//
    .section_S01 {
      height: 21.69rem;
      padding: 4.56rem 1rem 1.5rem 1rem;

      .title_S01 {
        font-size: 2.25rem;
        line-height: 2.63rem;
        width: 80%;
      }

      .paragraph_S01 {
        font-size: 0.88rem;
        line-height: 1.38rem;
        top: 1rem;
        width: 100%;
      }

      .button_S01 {
        line-height: 1.38rem;
        top: 2.25rem;
        width: 100%;
        height: 3rem;
      }
    }

    //---------------------- Section 02 Styles ----------------------//
    .section_S02 {
      height: 75.22rem;

      #episodios {
        // Posicionamineto del span para el salto de seccion desde el menu
        top: 0rem;
      }

      .backGradient_S02 {
        position: absolute;
        width: 100%;
        height: 73.25rem;
      }

      .title_S02 {
        position: absolute;
        font-size: 2.25rem;
        line-height: 2.63rem;

        top: 4rem;
        left: 1rem;
      }

      .podcasts_S02 {
        top: 7.94rem;
        height: 58.31rem;
        padding: 0 0.69rem;

        grid-gap:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        
        .podBox_S02 {
          border: none;
          width: 18.63rem;
          height: 14.06rem;
        }
      }
    }

    //---------------------- Section 03 Styles ----------------------//
    .section_S03 {
      height: 59.28rem;
      padding: 0;

      #nosotros {
        top: -6.5rem;
      }

      flex-direction: column;
      align-items: center;

      .img_phone_S03 {
        position: relative;
        top: -6rem;
        height: 32rem;
        width: 20rem;
      }

      .col_sec_S03 {
        max-width: 0;
        min-width: 18rem;
        position: relative;
        width: 18rem;
        height: 21.63rem;
        top: -10.31rem;
        left: 1rem;

        .title_S03 {
          font-family: $font_IBM_Plex_Sans;
          font-size: 2.25rem;
          line-height: 2.63rem;
          width: 60%;
        }

        .paragraph_S03 {
          font-size: 0.88rem;
          line-height: 1.38rem;
          position: relative;
          top: 0.5rem;
        }
      }
    }

    //---------------------- Section 04 Styles ----------------------//
    .section_S04 {
      width: fit-content;
      height: 91.14rem;

      #entrevistas {
        position: absolute;
        top: -12rem;
      }

      .title_S04 {
        position: absolute;
        font-size: 2.25rem;
        line-height: 2.63rem;
        left: 1rem;
        top: -6.13rem;
        width: 18rem;
      }

      .gridImg_S04 {
        display: block;
        line-height: 0;
        font-size: 0;

        .imgInvitados {
          display: block;
          max-width: 100%;
          max-height: 15.19rem;
          min-height: 15.19rem;
          border: 0;
          width: 100%;
          height: 15.19rem;
        }
      }
    }

    //---------------------- Section 05 Styles ----------------------//
    .section_S05 {
      height: 63.63rem;
      padding: 0;

      .title_S05 {
        font-size: 2.25rem;
        line-height: 2.63rem;
        top: 3rem;
        left: 1rem;
        width: 18rem;
      }

      .iconCont_S05 {
        left: 0;
        top: 5.31rem;
        height: 51.26rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .blockIcon {
          width: 100%;
          max-width: 18rem;
          height: 10.13rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          .icon_S05 {
            max-width: 6.5rem;
            width: 6.5rem;
            height: 6.5rem;
          }

          div {
            top: 0.81rem;
            width: 18rem;
          }
        }
      }
    }

    //---------------------- Section 06 Styles ----------------------//
    .section_S06 {
      height: 21.31rem;
      width: 100%;

      .trianguloGradient_S06 {
        height: 2.5rem;
      }

      .title_S06 {
        font-size: 2.25rem;
        line-height: 2.63rem;
        top: 4rem;
        width: 18rem;
      }

      .button_S06 {
        font-size: 1rem;
        line-height: 1.38rem;
        top: 14.13rem;
        width: 18rem;
        height: 3rem;
      }
    }

    //--------------------------- Footer ----------------------------//
    footer {
      height: 7.56rem;
      padding: 0;
      flex-direction: column;
      justify-content: space-evenly;

      .copyRight {
        font-size: 0.88em;
        line-height: 1.38rem;
      }

      .iconsFooter {
        width: 14.38rem;

        a > i {
          font-size: 1.2rem;
        }
      }
    }
  }
}
