* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contBody {
  width: 90rem;
  margin: auto; // Centrar pagina en el viewport

  //------------------------ Header Styles ------------------------//
  header {
    position: fixed;
    width: 90rem;
    height: 5em;
    background-color: rgba(255, 255, 255, 0.897);
    padding: 0 6.25rem;
    z-index: 10;

    #menuHam_H01 {
      display: none;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 2.25em;
      height: 2.25em;
    }

    .nav_H01 {
      width: 30.125em; //482px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        @include font_menu_H01;
        cursor: pointer;
      }

      a:hover {
        color: #00f3bb;
        text-decoration: line-through; // Para tachar la palabra world
      }

      a:active {
        color: rgba(6, 10, 36, 0.56);
        text-decoration: line-through; // Para tachar la palabra world
      }
    }

    .hamb_H01 {
      display: none;
    }
  }

  //---------------------- Section 01 Styles ----------------------//
  .section_S01 {
    position: relative;
    height: 28.06rem;
    padding-left: 12.5rem;

    .title_S01 {
      @include font_title_S01;
      position: absolute;
      top: 12.5rem;
      width: 50.375rem;
    }

    .line {
      text-decoration: line-through; // Para tachar la palabra world
    }

    .paragraph_S01 {
      @include font_paragraph_S01_S03;
      position: absolute;
      top: 17.75rem;
      width: 39.25em;
    }

    .button_S01 {
      @include font_button_S01;
      position: absolute;
      top: 24.25em;
      width: 14.125em;
      height: 3.5em;
      background: #00f3bb;
      border: none;
      cursor: pointer;
    }

    .button_S01:hover {
      background: linear-gradient(270deg, #0000fe 0%, #00f0b8 100%);
      color: white;
    }
  }

  //---------------------- Section 02 Styles ----------------------//
  .section_S02 {
    position: relative;
    height: 65.15rem;

    .backGradient_S02 {
      position: absolute;
      width: 90rem;
      height: 56.875rem;
      transform: skewY(-5deg);
      transform-origin: right top;
      background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
      z-index: -10;
    }

    .title_S02 {
      @include font_title_S02;
      position: absolute;
      top: 11.625rem;
      left: 12.5rem;
    }

    .podcasts_S02 {
      position: absolute;
      top: 17.125rem;
      left: 6.25rem;

      /* GRID PODCAST */
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-gap: 4.5em;

      .podBox_S02 {
        border: none;
        width: 36.5em;
        height: 14.5em;
      }
    }
  }

  //---------------------- Section 03 Styles ----------------------//
  .section_S03 {
    position: relative;
    height: 40.8375rem;

    .img_phone_S03 {
      position: absolute;
      width: 28.6rem;
      height: 41.25rem;
      left: 12.5rem;
      bottom: 10.125rem;
    }

    .title_S03 {
      @include font_title_S03_S04_S05;
      position: absolute;
      width: 25rem;
      left: 45rem;
      top: 1.275rem;
    }

    .paragraph_S03 {
      @include font_paragraph_S01_S03;
      position: absolute;
      left: 45em;
      top: 6.65em;
      width: 29em;
    }
  }

  //---------------------- Section 04 Styles ----------------------//
  .section_S04 {
    position: relative;
    height: 45.5rem;

    .title_S04 {
      @include font_title_S03_S04_S05;
      position: absolute;
      left: 12.5rem;
      top: -6.13rem;
      width: 30rem;
    }

    .gridImg_S04 {
      position: absolute;
      display: flex;
      flex-wrap: wrap;

      .imgInvitados {
        width: 30rem;
        height: 22.75rem;
      }
    }
  }

  //---------------------- Section 05 Styles ----------------------//
  .section_S05 {
    position: relative;
    height: 26.625em;
    padding: 0 12.5rem;

    .title_S05 {
      @include font_title_S03_S04_S05;
      position: absolute;
      top: 4rem;
      width: 36.7rem;
    }

    .iconCont_S05 {
      position: absolute;
      width: auto;
      top: 11.375rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .blockIcon {
        position: relative;
        width: 16.25em;
        height: 13.125em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon_S05 {
          display: block;
          width: 16.25em;
          height: 8.125em;
        }
        div {
          @include font_title_S05_01;
          position: relative;
          top: 1.8125rem;
          width: 13.125em;
        }
      }
    }
  }

  //---------------------- Section 06 Styles ----------------------//
  .section_S06 {
    position: relative;
    height: 32.375em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .trianguloGradient_S06 {
      position: absolute;
      top: 0;
      left: 0;
      width: 90rem;
      height: 8.2875em; //132.6px;
      background-color: white;
      transform: skewY(-5deg);
      transform-origin: left top;
      z-index: -1;
    }

    .backGradient_S06 {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
      z-index: -2;
    }

    .title_S06 {
      @include font_title_S06;
      position: absolute;
      top: 13.3125rem; 
    }

    .button_S06 {
      @include font_button_S06;
      position: absolute;
      top: 19.4375em; 
      width: 21.5625em;
      height: 3.5em; 
      border: none;
      background: #00f3bb 100%;
      cursor: pointer;
    }

    .button_S06:hover {
      background: linear-gradient(270deg, #0000fe 0%, #00f0b8 100%);
      color: white;
    }
  }

  //---------------------- Section Footer ----------------------//
  footer {
    position: relative;
    height: 5.9375em; //95px;
    padding: 0 6.25rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

   .copyRight {
      @include font_footer;
    }

    .iconsFooter {
      width: 14.625em;
      display: flex;
      justify-content: space-between;

      a > i {
        color: #060a24;
        font-size: 1.4rem;
      }
    }
  }
}
