@media only screen and (max-width: $mobile) {
  
  .contBody {
    width: 20rem;//20rem;
    margin: 0;
    overflow-x: hidden;
    
    //------------------------ Header Styles ------------------------//
    header {
      width: 20rem;
      height: 2.75rem;
      //background: white;
      padding: 0;

      .logo {
        position: absolute;
        left: 1rem;
        top: 0.63rem;
        width: 1.5rem;
        height: 1.5rem;
      }

      .contMenuHam_H01 {
        position: absolute;
        right: 1.75rem;
        top: 50%;
      }

      label,
      label:before,
      label:after {
        position: absolute;
        width: 1.13rem;
        height: 0.13rem;
        background-color: black;
        transition: 0.6s;
      }

      label {
        cursor: pointer;
        top: 50%;
        left: 50%;
        margin-left: -0.565rem;
        margin-top: -0.065rem;
      }

      label::before {
        content: "";
        transform: translateY(0.3rem);
      }
      label::after {
        content: "";
        transform: translateY(-0.3rem);
      }

      #menuHam_H01:checked ~ .contMenuHam_H01 label {
        width: 0;
      }

      #menuHam_H01:checked ~ .contMenuHam_H01 label::before {
        transform: rotate(45deg) translate(0);
      }

      #menuHam_H01:checked ~ .contMenuHam_H01 label::after {
        transform: rotate(-45deg) translate(0);
      }

      .nav_H01 {
        position: absolute;
        top: 2.75rem;
        right: -21rem;
        
        width: 20rem;
        height: 14rem;
        transition: 0.6s;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #0000ecc7;

        a {
          font-family: $font_IBM_Plex_Mono;
          padding: 0.75rem 1rem;
          color: white;
          font-size: 1rem;
          line-height: 1.75rem;
          cursor: pointer;
        }

        a:active {
          color: rgba(200, 204, 233, 0.781);
        }
      }

      #menuHam_H01:checked ~ .nav_H01 {
        transform: translateX(-21rem);
      }
    }

    //---------------------- Section 01 Styles ----------------------//
    .section_S01 {
      height: 21.7rem;
      padding-left: 1rem;

      .title_S01 {
        font-size: 2.25rem;
        line-height: 2.63rem;
        position: absolute;
        top: 4.56rem;
        width: 14rem;
      }

      .paragraph_S01 {
        font-size: 0.88rem;
        line-height: 1.38rem;
        position: absolute;
        top: 10.81rem;
        width: 18rem;
      }

      .button_S01 {
        line-height: 1.38rem;
        position: absolute;
        top: 17.19rem;
        width: 18rem;
        height: 3rem;
      }
    }

    //---------------------- Section 02 Styles ----------------------//
    .section_S02 {
      height: 75.22rem;

      .backGradient_S02 {
        position: absolute;
        width: 20rem;
        height: 73.25rem;
      }

      .title_S02 {
        position: absolute;
        font-size: 2.25rem;
        line-height: 2.63rem;

        top: 4rem;
        left: 1rem;
      }

      .podcasts_S02 {
        padding: 0;
        top: 7.94rem;
        left: 0.69rem;

        display: block;

        .podBox_S02 {
          border: none;
          width: 18.63rem;
          height: 14.06rem;
        }
      }
    }

    //---------------------- Section 03 Styles ----------------------//
    .section_S03 {
      height: 58.28rem;
      display: block;

      .img_phone_S03 {
        left: 0rem;
        top: -6rem;
        height: 32rem;
        width: 20rem;
      }

      .title_S03 {
        font-family: $font_IBM_Plex_Sans;
        font-size: 2.25rem;
        line-height: 2.63rem;

        left: 1rem;
        top: 28.16rem;
        width: 18rem;
      }

      .paragraph_S03 {
        font-size: 0.88rem;
        line-height: 1.38rem;

        position: absolute;
        left: 1.33rem;
        top: 33.91rem;
        width: 18rem;
      }
    }

    //---------------------- Section 04 Styles ----------------------//
    .section_S04 {
      width: fit-content;
      height: 91.14rem;

      .title_S04 {
        font-size: 2.25em;
        line-height: 2.63rem;
        left: 1rem;
        top: -6.13rem;
        width: 18rem;
      }

      .gridImg_S04 {
        display: flex;

        .imgInvitados {
          border: none;
          width: 20rem; //480px;
          height: 15.19rem; //364px;
        }
      }
    }

    //---------------------- Section 05 Styles ----------------------//
    .section_S05 {
      height: 63.63rem;
      padding: 0;

      .title_S05 {
        font-size: 2.25rem;
        line-height: 2.63rem;
        top: 3rem;
        left: 1rem;
        width: 18rem;
      }

      .iconCont_S05 {
        left: 0; //200px;
        top: 11.375rem; //182px;
        height: 51.26rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .blockIcon {
          position: relative;
          width: 20rem; //260px;
          height: 10.13rem; //210px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          div {
            top: 0.81rem;
            width: 18rem; //210px;
          }
        }

        .icon_S05 {
          width: 6.5rem; //260px;
          height: 6.5rem; //130px;
        }
      }
    }

    //---------------------- Section 06 Styles ----------------------//
    .section_S06 {
      height: 21.31rem;
      width: 20rem;

      .trianguloGradient_S06 {
        height: 1.8rem;
      }

      .title_S06 {
        font-size: 2.25rem;
        line-height: 2.63rem;
        top: 4rem;
        left: 1rem;
        width: 18rem;
      }

      .button_S06 {
        font-size: 1rem;
        line-height: 1.38rem;
        top: 14.13rem;
        width: 18rem;
        height: 3rem;
      }
    }

    //--------------------------- Footer ----------------------------//
    footer {
      height: 7.56rem;
      padding: 0;
      flex-direction: column;
      justify-content: space-evenly;

      .copyRight {
        font-size: 0.88em;
        line-height: 1.38rem;
      }

      .iconsFooter {
        width: 14.38rem;

        a > i {
          font-size: 1.2rem;
        }
      }
    }
  }
}
