/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (max-width: $tablet) and (min-width: 321px){
  .contBody {
    width: 100%;

    header {
      position: fixed;
      height: 4.5rem;
      background-color: rgb(255, 0, 0);
      z-index: 10;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .logo {
        align-self: center;
      }
    }

    .section_S01 {
      position: relative;
      //height: 40%; //369px;
      padding: 3.5srem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .title_S01 {
        position: static;
        //left: 0; // 200px;
        //top: 7.5rem; //120px; */
      }

      .line {
        text-decoration: line-through; // Para tachar la palabra world
      }

      .paragraph_S01 {
        position: static;
        // left: 0; // 200px;
        // top: 12.75rem; //204px;
        // max-width: 39.25em; //628px;
        // width: 100%;
      }

      .button_S01 {
        position: static;
        // top: 19.25em; //308px;
        //left: 0; // 200px;

        width: 14.125em; //226px;
        height: 3.5em; //56px;
        background: #00f3bb;
        border: none;
        cursor: pointer;
      }

      .button_S01:hover {
        background: linear-gradient(270deg, #0000fe 0%, #00f0b8 100%);
        color: white;
      }
    }
  }

  .podcasts_S02 {
    position: absolute;
    top: 17.125em; //274px;
    left: 6.25em; //100px;
    //width: auto;

    /* GRID */
    display: grid;
    grid-template-columns: auto auto; //584px 584px;
    grid-template-rows: auto auto; //232px 232px;
    grid-gap: 4.5em; //72px;

    .podBox_S02 {
      border: none;
      //width: 36.5em; //584px;
      //height: 14.5em; //232px;
    }
  }
}
