/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (max-width: $tablet) and (min-width: $mobile) {
  .contBody {
    min-width: 840px;
    margin: 0;

    //------------------------ Header Styles ------------------------//
    header {
      height: 4.5rem;
      background-color: rgba(255, 255, 255, 0.747);
      padding: 0 5%;
      z-index: 10;

      .logo {
        align-self: center;
      }

      .nav_H01 {
        a {
          font-size: large;
        }
      }
    }

    //---------------------- Section 01 Styles ----------------------//
    .section_S01 {
      height: 22rem;
      padding: 5rem 3rem;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }

    //---------------------- Section 02 Styles ----------------------//
    .section_S02 {
      height: 50rem;
      background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);

      #episodios {
        top: -3rem;
      }

      .backGradient_S02 {
        display: none;
      }

      .title_S02 {
        top: 3rem;
        left: 5rem;
      }

      .podcasts_S02 {
        position: absolute;
        top: 8rem;
      }
    }

    //---------------------- Section 03 Styles ----------------------//
    .section_S03 {
      position: relative;
      width: 100%;
      height: 40.84rem;
      padding: 5% 5% 10%;

      #nosotros {
        position: absolute;
        top: -4.5rem;
      }

      .img_phone_S03 {
        display: block;
        position: relative;
        top: 2rem;
        width: 20rem;
        height: 32rem;
      }

      align-items: center;

      .col_sec_S03 {
        //position: relative;
        //top: 4rem;
        max-width: 29rem;
        min-width: 20rem;

        .title_S03 {
          @include font_title_S03_S04_S05;
        }

        .paragraph_S03 {
          @include font_paragraph_S01_S03;
        }
      }
    }

    //---------------------- Section 04 Styles ----------------------//
    .section_S04 {

      #entrevistas {
        top: -7rem;
      }
    }
  }
}
